body {
    background-color:#5779ff;
    font-family: sans-serif;
} 
/* .left, .right {
    float:left;
    width:33%;
  }
  
  .main {
      text-align: center;
    float:left;
    width:33%; 
  }
  
  @media (max-width:1000px) {
    .leftl, .main, .right {
      width:100%;
    }
  }

.gallerytableau {
    width: 100%; 
    border-collapse: collapse; 
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		position: absolute;

        top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
}

.button {
    background-color: #0D0E13;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    text-decoration: none;
    color: #0D0E13;
}

.button:disabled {
    background-color: grey;
    cursor: not-allowed;
    
}

.centered {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    margin: 5%;
}

#myFormInscription {
    height: 50px;
    width: 50px;
    background-color: #0D0E13;
}


#myFormConnect {
    height: 50px;
    width: 50px;
    background-color: #0D0E13;
}

h1 {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.bordered {
    border: 2px solid white;
} */