body {
    margin: 0;
    height:100%;
    background-image: url("../images/ander.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: left top;
    font-family: sans-serif;
    color: white;
} 
.left, .right {
    float:left;
    width:33%; /*The width is 20%, by default*/
  }
  
  .main {
    float:left;
    width:33%; /*The width is 60%, by default*/
  }
  
  @media (max-width:1000px) {
    .left, .main, .right {
      width:100%;/*The width is 100%, when the viewport is 800px or smaller*/
    }
  }

.button {
    background-color: #0D0E13;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    text-decoration: none;
    color: #0D0E13;
}

.button:disabled {
    background-color: grey;
    cursor: not-allowed;
    
}

.centered {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    margin: 5%;
}

#myFormInscription {
    height: 50px;
    width: 50px;
    background-color: #0D0E13;
}


#myFormConnect {
    height: 50px;
    width: 50px;
    background-color: #0D0E13;
}

h1 {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.bordered {
    border: 2px solid white;
}