.myNavbar {
    overflow: hidden;
    background-color:#0D0E13;
    top: 0px;
    width: 100%;
    z-index: 1;
}

.myNavbar a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.myNavbar a:hover{
    background-color: white;
    color : #0D0E13;
}

#bRight {
    float: right;
}